#selections {
  display:none;
}
.selectionA {
  display:none;
}
.selectionB {
  display:none;
}
.selectionC {
  display:none;
}
.selectionD {
  display:none;
}
.selectionE {
  display:none;
}
.selectionF {
  display:none;
}